html {
    scroll-behavior: smooth;
}
body {
background-color:cornsilk;
position: absolute;
right: 100px;
}
p {
    font-weight: bold;
    border-style:solid;
    border-color: blueviolet;
}
ul {
    font-weight: 900;
    position: fixed;
right: 1px;
}
.text {
    font-style: italic;
}
.text-center {
    text-align: center;
}
.text-decorate {
    text-decoration:underline;
}
.text-start {
    text-align: center;
    font-weight: bold;
    text-decoration:underline;
    display: block;
}
h1 {
    color:#7FFF00;
}
h2 {
    color:#FF69B4;
}
